section.contact {
    background-color: #303e49;
    padding: 50px 0 150px;
    color: #fff;
}

section.contact h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}

.contact-list {
    line-height: 30px;
}

.contact-list .row {
    margin-bottom: 15px;
}

.contact-list address {
    line-height: 20px;
}

.contact-list a {
    color: #fff;
}

.contact-list a:hover {
    text-decoration: underline;
}

.contact [class^="icon-"]:before, [class*=" icon-"]:before,
.contact [class^="icon-"]:after, [class*=" icon-"]:after {
    font-size: 2em;
    margin-left: 0;
}
