header {
    background: #303e49;
}
.cd-timeline-content h5 {
    color: #303e49;
    font-weight: 600;
}

.cd-timeline-content .keywords {
    font-weight: 300;
}

.cd-timeline-content .keywords strong {
    font-weight: 600;
    color: #303e49;
}