<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="google-site-verification" content="pC2Z0UpkagUKko2QW1SiVXXAclNN-NZwvb78dgZsSZ8" />

        <meta name="description" content="Antoine Lelaisant - Développeur web et chef de projet.
        Étudiant en Master DNR2i à l'Université de Caen Basse-Normandie" />
        <meta name="keywords" content="Antoine Lelaisant, développeur, symphony2, chef de projet, agilité, Caen, étudiant, php">

        <meta property="og:title" content="Antoine Lelaisant" />
        <meta property="og:url" content="http://alelaisant.fr/" />
        <meta property="og:type" content="image/png" />
        <meta property="og:image" content="http://alelaisant.fr/assets/images/portrait-round.png" />

        <title>{% block title %}Antoine Lelaisant{% endblock %}</title>

        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Montserrat:400,700' rel='stylesheet' type='text/css'>

            {% stylesheets filter='?yui_css' combine=true
                "@bootstrap_css"
                "assets/css/icons.css"
                "assets/css/reset.css"
                "assets/css/menu.css"
                "assets/css/timeline.css"
                "assets/css/skills.css"
                "assets/css/contact.css"
                "assets/css/main.css"
             %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            {% javascripts filter='?yui_js' combine=true
                "assets/js/analytics.js"
                "assets/js/modernizr.js"
                "assets/js/menu.js"
                "assets/js/jquery-smooth-scroller.min.js"
                "assets/js/timeline.js"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <noscript>Pour que la page s'affiche correctement, vous devez activer javascript</noscript>
        {% endblock %}
    </body>
</html>
