<section id="contact" class="contact">
    <div class="container">
        <h2>Contacts</h2>
        <div class="row contact-list">
            <div class="col-md-3 col-md-offset-4">
                 <div class="row">
                    <div class="col-xs-2">
                        <i class="icon-marker"></i>
                    </div>
                    <address class="col-xs-10">
                        5 Rue des Bruyères <br>
                        14210 <br>
                        Vacognes-Neuilly
                    </address>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <i class="icon-phone"></i>
                    </div>
                    <div class="col-xs-10">
                        06.99.39.37.98
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <i class="icon-mail"></i>
                    </div>
                    <div class="col-xs-10">
                        <a href="mailto:antoine.lelaisant@gmail.com">antoine.lelaisant@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="icon-github"></i>
                    </div>
                    <div class="col-xs-10">
                        <a href="https://github.com/AntoineLelaisant" target="_blank">
                            Github
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <i class="icon-twitter"></i>
                    </div>
                    <div class="col-xs-10">
                        <a href="https://twitter.com/AntoineLelaisan" target="_blank">
                            @AntoineLelaisan
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <i class="icon-linkedin"></i>
                    </div>
                    <div class="col-xs-10">
                        <a href="https://www.linkedin.com/profile/view?id=370919742" target="_blank">
                            Linkedin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>