<header id="page-top" class="header">
    <div class="container">
        <div class="row">
            <div class="portrait col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                <img src="/assets/images/portrait-round.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Antoine Lelaisant</h1>
                <h2>Développeur web &amp; chef de projet</h2>
            </div>
        </div>
    </div>
</header>