<section id="skills" class="skills">
    <header class="skills-header">
        <h2>Compétences</h2>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        PHP
                    </span>
                    <span class="skill-item-score col-xs-7">8</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        HTML / CSS
                    </span>
                    <span class="skill-item-score col-xs-7">8</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Illustrator
                    </span>
                    <span class="skill-item-score col-xs-7">5</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        JS &amp; jQuery
                    </span>
                    <span class="skill-item-score col-xs-7">7</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Flash
                    </span>
                    <span class="skill-item-score col-xs-7">6</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Photoshop
                    </span>
                    <span class="skill-item-score col-xs-7">5</span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Symfony2
                    </span>
                    <span class="skill-item-score col-xs-7">6</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Git
                    </span>
                    <span class="skill-item-score col-xs-7">7</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        JAVA
                    </span>
                    <span class="skill-item-score col-xs-7">7</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        SQL
                    </span>
                    <span class="skill-item-score col-xs-7">7</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Yii
                    </span>
                    <span class="skill-item-score col-xs-7">6</span>
                </div>
                <div class="skill-item">
                    <span class="skill-item-title col-xs-5">
                        Wordpress
                    </span>
                    <span class="skill-item-score col-xs-7">6</span>
                </div>
            </div>
        </div>
    </div>
</section>